*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    background-color: rgb(244, 244, 244);
}
.Navbar{
    background-image: url('https://invisit.in/images/trips/domestic-trips/domestic-banner.jpg');
    height: 550px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    padding: 0 5%;
    padding-top: 3%;
}
.left_side{
    width: 80%;
    margin-top: 15px;
}
.left_side > a{
    margin-left: 2%;
    text-decoration: none;
    color: rgb(224, 221, 221);
}
.button{
    /* margin-left: -60%; */
    margin-left: 10%;
    width: 80px;
    border-radius: 5px;
    padding: 4px;
    border: 0;
    background-color: white;
    /* margin-top: 10px; */
}
.instagram{
    display: flex;
    justify-content:space-evenly;
}
.instagram i{
    margin: 8px;
    background-color: white;
    padding: 5px;
    height: 16px;
    font-size: 18px;
    border-radius: 15px;
    padding-bottom: 22px;
    color: crimson;
}
.heading{
    font-size: 30px;
    font-weight: 500;
}
.destination_btns{
    padding: 7px 20.5px;
    border-radius: 5px;
    border-color: #EC602A;
    margin: 0 0.8%;
    background-color: white;
}
.destinations{
    margin-top: 5%;
}
.destination_btns:hover{
    background-color: #EC602A;
    color: white;
}
main{
    padding: 5% 10%;
}
.ditails{
    border-left: 0.5px solid gray;
    border-top: 0.5px solid gray;
    border-radius: 0 5px;
    padding: 5px 20px;
    width: 35%;
    text-align: center;
}
.ditails > h6{
    margin-bottom: 2px;
}
.ditails > p{
    margin-bottom:30px;
}
.card{
    width: 100%;
}
.card-body{
    display: contents;
    justify-content:space-evenly;
}
.main_container{
    display: flex;
}
.container{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.block{
    display: inline-block;
}
/* .card-text>small{
    margin-top: 0%;
    padding: 0;
} */
/* .text-body-secondary{
    margin: 0;
} */
.card-text > span >i{
    color: #EC602A;
    padding: 0px;
}
.query_btn{
    background-color: #EC602A;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
}
.AnyQustion{
    margin: 50% 25px;
    background-color: white;
    border: 0.5px solid gray;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
}
.AnyQustion > div{
    margin: 20px 8px;
}
.call_action{
    color: black;
}
.AnyQustion > div> a{
    text-decoration: none;
    font-weight: 600;
}
.whatsapp_action{
    border: 2px solid rgb(67, 180, 67);
    margin: 5px;
    padding: 5px 33px;
    border-radius: 10px;
    padding-bottom: 8px;
    color: green;
}
.sendBtn{
    border: 2px solid #EC602A;
    margin: 5px;
    padding: 5px 45px;
    border-radius: 10px;
    padding-bottom: 8px;
    color: #EC602A;
}
.side_img{
    width: 250px;
}
.side_photo{
    margin: 0 25px;
    border-radius: 10px;
    width: 250px;
}
.card_heading{
    display: flex;
    justify-content: space-between;
}
.card_heading > h6{
    margin-top: 2px;
}
.col-md-4>img{
    height: 260px;
}
.ourRating{
    display: flex;
    justify-content: space-between;
}
#ourRatingLeft{
    border-left:4px solid #EC602A;
    padding-left: 15px;
    font-size: 25px;
    font-weight: 600;
}
#ourRatingRight{
    font-size: 13px;
    margin-top: 25px;
}
.rating_box{
    display: flex;
    margin-top: 30px;
}
.leftRatingSide > h1 > i{
    color: yellow;
}
.leftRatingSide{
    text-align: center;
    padding: auto;
    width: 35%;
    border: 1px solid gray;
    background-color: white;
    padding: 25px 0;
    border-right: 0;
}
.rightRatingSide{
    text-align: center;
    padding: 30px;
    width: 65%;
    border: 0.2px solid gray;
    background-color: white;
    border-left: 0;
}
.progress{
    margin: 15px;
}
.youtubeLogo{
    width: 50%;
    margin: 25px;
    border: 0;
    align-items: center;
}
.youtubeLogo > img{
    padding-top: 10%;
}
.details{
    width: 50%;
    padding: 50px;
    text-align: center;
}
.details>h2>span{
    color: #EC602A;
    font-size: 20px;
}
.similer_Destinations{
    display: flex;
}
.similer_Destination {
    display: flex;
    justify-content: space-evenly !important;
    gap: 10px !important;
    text-align: center;
    margin: 20px;
}
.similer_Destination> h2> button{
    border: 1px solid gray;
    font-size: 15px;
    padding: 0px 10px;
    position: absolute;
    right: 10%;

}
.Blog_heading{
    font-size: 25px;
    text-align: center;
    margin: 25px;
}
.blocks{
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
}
.Block{
    width: 150px;
    margin: 15px;
    text-align: center;
}
.Block>img{
    width: 100%;
}
.endBtn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.holders{
    background-color: rgb(244, 217, 222);
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
}
.holder{
    display: flex;

}
.holder>p{
    font-size: 12px;
    font-weight: 500;
    margin-top: 15px;
}
.modal{
    width: 1000px;
}
#footerCntr{
    margin-top: -40px;
    background-color: #343a40;
    color: white;
}
li{
    list-style-type: none;
}
li > a{
    text-decoration: none;
    color: white;
}
a > i{
    color: white;
}
.modal-body{
    display: flex;
    padding-left: 50px !important;
}
.modal_form{
    border: 0.3px solid gray;
    padding: 15px 25px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(214, 211, 211);
}
.column > input{
    padding: 10px 15px;
    width: 250px;
    border: 0;
    background-color: white;
    border-radius: 5px;
    
}
.card{
    display: flex;
    justify-content: space-between;
}
.column{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-top: 20px;
}
#submitButton{
    background-color: #EC602A;
    width: 100%;
    color: white;
    font-weight: 500;
}
@media screen and  (max-width : 920px) {
    main {
       padding: 0px;
       
    }
}